@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');



body{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Heebo', sans-serif;
}
.calculator{
	background: linear-gradient(45deg, rgba(82, 80, 80, 0.1)15%, rgba(21, 21, 21, 0.5)50%), rgba(22, 22, 24, 0.7)25%;
  transform: perspective(800px) rotateX(15deg);
	padding: 22px;
	height: max-content;
	border-radius: 1rem;
}
/*result styling*/
.result{
	border-radius: 1rem;
	width: 100%;
	height: 80px;
	background: rgb(157, 200, 219);
	/* border: none; */
}
input[type="text"] {
	font-size: 1.5rem;
	color: #fff;
	text-align: left;
}

input[type="button"] {
	width: 80px;
	text-align: center;
	font-weight: 600;
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 0.8rem;
	margin-top: 20px; 
}
input[type="button"]:nth-child(21) {
	background: #f00;
	color: #fff;
}
input[type="button"]:nth-child(23) {
	color: #fff;
	background: orange;
	width: 100%;
}